.app {
  margin: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-form {
  width: 100%;
  max-width: 40ch;
  margin-bottom: 2rem;
}

label {
  margin-top: 1rem;
}

.app-form button {
  margin-top: 2rem;
}

.btn-close {
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  position: absolute;
  right: 1rem;
  top: .8rem;
  width: .9rem;
  height: .9rem;
}

.list-item {
  display: inline-block;
  margin-right: 3rem;
}

.list-group {
  width: 100%;
  max-width: 60ch;
  border-top: 2px solid #7e7e7e;
  padding-top: .5em;
}

.list-group-item {
  position: relative;
  background-color: white;
  transition: background-color 1s ease;
}

.list-group-item.newReminder {
  background-color: moccasin;
  transition: background-color 0.5s ease;
}

@media (prefers-reduced-motion:reduce) {
  * {
    transition-duration: 1ms !important;
  }

}

.reminder {
  padding-bottom: .5rem;
}

.duedate {
  font-size: smaller;
}

.past .duedate {
  color: red;
}

.today .duedate {
  color: red;
}
