.app-content {
    margin: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings,
.lists {
    width: 100%;
    max-width: 60ch;
}

.delete-settings {
    border-top: 1px solid #dc3545;
    padding-top: 1rem;
    margin-top: 1rem;
}

.import-settings {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.app-form {
    width: 100%;
    margin-bottom: 1rem;
}

.app-form h3 {
    margin-bottom: 1rem;
}

.form-section {
    padding-bottom: 1rem;
}

.form-section button {
    margin-top: 0.5rem;
}

ul.nav.main {
    padding-left: 20px;
    background-color: #f8f9fa;
}
ul.nav.sub-navigation {
    margin-bottom: 1rem;
}

.list-nav {
    border-top: 2px solid #7e7e7e;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.list-nav:has(div.visible) {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 0.5em;
}
.date-list-nav {
    display: flex;
}

.list-group,
.tree-nav {
    width: 100%;
}

/* Links with icons */
.nav-link.hide-form::before,
.nav-link.add-type::before,
.nav-link.add-items::before,
.tree-footer-nav .add-item::before,
.nav-link.dropdown-toggle::before,
.nav-link.first-item::before,
.tree-home::before,
.nav-link.nav-settings::before,
.undo-action::before,
.redo-action::before {
    display: inline-block;
    width: 1.35rem;
    height: 1rem;
    content: "";
    vertical-align: -0.125em;
    mask-repeat: no-repeat;
    mask-size: 1rem 1rem;
    background-color: #0d6efd;
}
.nav-link.nav-settings::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16"><path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/><path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/></svg>');
}

.undo-action::before {
    vertical-align: -0.18rem;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"/></svg>');
}
.undo-action.disabled::before,
.redo-action.disabled::before {
    background-color: rgba(33, 37, 41, 0.75);
}

.redo-action::before {
    vertical-align: -0.18rem;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/><path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/></svg>');
}

.tree-home::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16"><path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/></svg>');
}

.nav-link.hide-form::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/></svg>');
}

.nav-link.add-type::before,
.nav-link.add-items::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>');
}

.tree-footer-nav .add-item::before {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z"></path></svg>');
}

.nav-link.dropdown-toggle::before,
.nav-link.first-item::before {
    vertical-align: -0.18rem;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/></svg>');
    font-weight: bold;
}

.nav-link.nav-settings,
.nav-link.add-items,
.nav-link.hide-form {
    padding-left: 0;
}

li.tree-list-item {
    display: flex;
    padding-right: 0;
    transition: background-color 1s ease;
}

li.tree-list-item .tree-item {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.tree-item-actions {
    display: flex;
}

li.tree-list-item span {
    white-space: normal;
    vertical-align: middle;
}

/* Action HTML buttons stripped styles */
.tree-item-actions .btn-handle,
.delete-item,
.edit-item,
.sort-button,
.undo-action,
.redo-action {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

.tree-item-actions .btn-handle {
    /* Important */
    touch-action: none;
}

/* Action buttons background image */
.tree-item-actions .item-nav-link,
.tree-item-actions .btn-handle,
.delete-item,
.edit-item,
.sort-button {
    width: 1.7rem;
    height: 1.7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: 1rem;
}

.tree-item-actions .item-nav-link {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%237e7e7e" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>');
    line-height: inherit;
    background-size: 0.4rem 0.4rem;
}

.tree-item-actions .item-nav-link:hover {
    background-size: 1rem 1rem;
}

.list-group-item .delete-item,
.list-group-item .edit-item,
.sort-button {
    flex-shrink: 0;
    background-size: 0.9rem;
    border-radius: 4px;
}

.list-group-item .edit-item {
    margin-left: 0.3rem;
}

.tree-item-actions .btn-handle {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%237e7e7e" class="bi bi-grip-vertical" viewBox="0 0 16 16"><path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0m3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/></svg>');
}

.tree-list-item .delete-item,
.list-group-item .delete-item {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%237e7e7e"  class="bi bi-x-lg" viewBox="0 0 16 16"><path stroke="%237e7e7e" stroke-width="1.2"  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>');
}

.list-group-item .delete-item:hover {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"  class="bi bi-x-lg" viewBox="0 0 16 16"><path stroke="white" stroke-width="1.2"  d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>');
    background-color: red;
    border-radius: 4px;
}

.list-group-item .edit-item.hide {
    display: none;
}

.list-group-item .edit-item {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16"><path stroke="green" stroke-width="1.2" d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/></svg>');
}

.sort-button-ASC {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
}

.sort-button-DESC {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/></svg>');
}

.list-group-item .edit-item:hover {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-check-lg" viewBox="0 0 16 16"><path stroke="white" stroke-width="1.2" d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/></svg>');
    background-color: green;
}

/* Focus  Styles*/
.tree-item-actions .btn-handle:focus-visible,
.delete-item:focus-visible,
.tree-item-actions .item-nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.tree-list-tree {
    padding-left: 0;
}

.date-lists .list-group-item {
    display: flex;
}

.list-item {
    display: inline-block;
    width: 100%;
}

#list-item-date {
    max-width: 20ch;
}

.breadcrumb-item.home,
.breadcrumb-item.home a {
    padding-right: 0;
}

.list-group-item {
    position: relative;
    background-color: white;
    padding-left: 0;
    padding-right: 0;

    transition: background-color 1s ease;
}

.list-group-item.new-list-item,
li.tree-list-item.new-list-item {
    background-color: moccasin;
    transition: background-color 0.5s ease;
}

.list-item-text {
    padding-bottom: 0.5rem;
}

.list-item-date {
    font-size: smaller;
}

/* .past .list-item-date {
    color: red;
}

.today .list-item-date {
    color: red;
} */
.history-nav {
    display: inline-block;
    width: 100%;
}

.undo-action,
.redo-action {
    color: #0d6efd;
    padding-right: 1rem;
}
.undo-action.disabled,
.redo-action.disabled {
    color: rgba(33, 37, 41, 0.75);
}
.undo-action.hidden,
.redo-action.hidden {
    display: none;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

code {
    display: block;
    margin-top: 1.5rem;
    max-height: 12rem;
    overflow: auto;
    border: solid 2px #efefef;
    padding: 1rem;
}

.color-popover .react-colorful {
    width: 14ch;
    height: 14ch;
    min-width: 200px;
    min-height: 200px;
}
.label-color-picker {
    display: flex;
}

.picker {
    position: relative;
    margin-left: 1rem;
}

.swatch {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 8px;
    border: 3px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.color-popover {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.color-input-label {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 4px;
    border: 1px solid #d6cfc6;
    border-top: 0;
    padding-right: 9px;
    border-radius: 0 0 9px 9px;
}
.color-input-label span {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
}

.color-popover input {
    width: 100%;
    border-radius: 0;
    border: none;
    /* outline-width: 1px;
    outline-offset: -3px; */

    /* border:none;
    outline:none; */
}
.color-popover .react-colorful__last-control {
    border-radius: 0;
}

.date-buttons button {
    margin-right: 0.5rem;
}

.date-container .form-control {
    display: inline-block;
}
.date-preview {
    display: inline-block;
    margin-left: 1rem;
}
#date-buttons-help {
    display: block;
    margin-bottom: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 1ms !important;
    }
}
