.app-content {
    margin: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.export-settings,
.date-settings,
.import-settings,
.delete-settings,
.reminders-form {
    width: 100%;
    max-width: 40ch;
}

.delete-settings {
    border-top: 1px solid #dc3545;
    padding-top: 1rem;
    margin-top: 1rem;
}

.import-settings {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.app-form {
    width: 100%;
    margin-bottom: 1rem;
}

.app-form h3 {
    margin-bottom: 1rem;
}

.form-section {
    padding-bottom: 1rem;
}

.form-section button {
    margin-top: 0.5rem;
}

.btn-close {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    width: 0.9rem;
    height: 0.9rem;
}

ul.nav.main {
    padding-left: 20px;
    background-color: #f8f9fa;
}
ul.nav.sub-navigation {
    margin-bottom: 1rem;
}

.nav-link.add-type::before {
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    content: "";
    vertical-align: -0.125em;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg>');
    mask-repeat: no-repeat;
    mask-size: 1rem 1rem;
    background-color: #0d6efd;
}

.nav-link.dropdown-toggle::before,
.nav-link.first-item::before {
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    content: "";
    vertical-align: -0.18rem;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/></svg>');
    mask-repeat: no-repeat;
    mask-size: 1rem 1rem;
    font-weight: bold;
    background-color: #0d6efd;
}

.nav-link.settings {
    padding-left: 0;
}

.nav-link.settings::before {
    display: inline-block;
    width: 1.25rem;
    height: 1rem;
    content: "";
    vertical-align: -0.125rem;
    mask-repeat: no-repeat;
    mask-size: 1rem 1rem;
    background-color: #0d6efd;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16"><path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/><path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/></svg>');
}

.list-item {
    display: inline-block;
    margin-right: 3rem;
}

.list-group {
    width: 100%;
    max-width: 60ch;
    border-top: 2px solid #7e7e7e;
    padding-top: 0.5em;
}

.list-group-item {
    position: relative;
    background-color: white;
    transition: background-color 1s ease;
}

.list-group-item.newReminder {
    background-color: moccasin;
    transition: background-color 0.5s ease;
}

.reminder {
    padding-bottom: 0.5rem;
}

.duedate {
    font-size: smaller;
}

.past .duedate {
    color: red;
}

.today .duedate {
    color: red;
}

code {
    display: block;
    margin-top: 1.5rem;
    max-height: 12rem;
    overflow: auto;
    border: solid 2px #efefef;
    padding: 1rem;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 1ms !important;
    }
}
